[submodule "iced"]
	path = iced
	url = https://github.com/leb-kuchen/iced.git
	branch = double-click-maximize
[submodule "examples/design-demo"]
path = examples/design-demo
url = https://github.com/pop-os/cosmic-design-demo
